body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

body {
    background: #fcfcfd;
}
#reset-card{
    border-radius: 20px;
    min-width: 414px;
    border: black solid 10px;
    box-shadow: 2px 2px 15px grey;
}

.reset-title{
    font-weight: 800;
    color: #504DFF;
}
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field input[type=password]:focus+label {
    color: #e91e63;
}

.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field input[type=password]:focus {
    border-bottom: 2px solid #e91e63;
    box-shadow: none;
}

#reset-btn{
    background: #504DFF;
    border-radius: 10px;
}