body{
    overflow-x: hidden;
}
.nav-wrapper{
    padding: 0% 15% 0% 10%;
    background-color: #504DFF;
    position: fixed;
}

.update-task-container{
    padding: 1% 10% 0% 10%;
}
#task-update-btn{
    background: #504DFF;
    border-radius: 10px;
}
#task-delete-btn{
    background-color: red;
    border-radius: 10px;
}
.update-task-title{
    font-weight: 800;
    color: #504DFF;
}
#task-list{
    max-height: 150px;
    overflow-y: scroll;
}