<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./static/css/hr-profile_style.css">
    <title>Profile</title>
</head>

<body> -->
    {% extends "base.html" %}
    {% block body %}
    <!-- <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">
                    <img src="./static/img/mTracker.png">
                </a>
                <a href="#" data-target="mobile-side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="./home-create-task.html">Create</a></li>
                    <li><a href="./search.html">Search</a></li>
                    <li><a href="./task-feedbacks.html">Feedbacks</a></li>
                    <li class="active"><a href="./hr-profile.html">Profile</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-side-nav">
            <li><a href="./home-create-task.html">Create</a></li>
            <li><a href="./search.html">Search</a></li>
            <li><a href="./task-feedbacks.html">Feedbacks</a></li>
            <li class="active"><a href="./hr-profile.html">profile</a></li>
        </ul>
    </div> -->
    <div class="profile-container">
        <div class="row">
            <center>
                <h5 class="profile-title">Profile</h5>

                <div class="profile-details-card z-depth-3">
                    <div class="profile-img" id="profile-img">
                        <img src="/static/img/profile.png">
                    </div>
                    <ul>
                        <li>Name: <span>Jon Doe</span></li>
                        <li>Designation: <span>BHR</span></li>
                        <li>Employee ID: <span>766780</span></li>
                        <li>Email ID: <span>jon.doe@marlabs.com</span></li>
                        <li>Location: <span>Banglore</span></li>
                    </ul>
                </div>
                <br>

                <div class="tasks-summary-card z-depth-3 center">
                    <h5 class="deep-purple-text accent-1">Task Summary</h5>
                    <ul>
                        <li>Total Queries/Tasks Assigned: <span>80</span></li>
                        <li>Total Queries/Tasks Completed: <span>75</span></li>
                        <li>Total Queries/Tasks Pending: <span>5</span></li>
                    </ul>
                </div>
            </center>

        </div>
    </div>
    <script>

    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% endblock %}
<!-- </body>

</html> -->