<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/static/css/update-task_style.css">
    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
    <title>Document</title>
</head>

<body> -->
{% extends "base.html" %}
{% block body %}
    <!-- <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo">
                    <img src="/static/img/mTracker.png">
                </a>
                <a href="#" data-target="mobile-side-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="./home.html">Create</a></li>
                    <li class="active"><a href="./search.html">Search</a></li>
                    <li><a href="./task-feedbacks.html">Feedbacks</a></li>
                    <li><a href="./hr-profile.html">Profile</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav" id="mobile-side-nav">
            <li><a href="./home-create-task.html">Create</a></li>
            <li class="active"><a href="./search.html">Search</a></li>
            <li><a href="./task-feedbacks.html">Feedbacks</a></li>
            <li><a href="./hr-profile.html">profile</a></li>
        </ul>
    </div> -->
    <div class="update-task-container">
        <div class="row">
            <center>
                <h5 class="update-task-title">Update Task</h5>
            </center>
            <form class="col l12 s12 offset-m0 offset-l2" method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col l4 s12">
                        <input disabled placeholder="Type employee id..." id="emp-id" type="text" class="validate" name="emp-id"
                            value={{getData.empid}}>
                        <label for="emp-id">Employee ID</label>
                    </div>
                    <div class="input-field col l4 s12">
                        <input placeholder="Type employee name..." id="emp-name" type="text" class="validate" name="emp-name"
                            value={{getData.empname}}>
                        <label for="emp-name">Employee Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l8 s12">
                        <input placeholder="Type employee email..." id="emp-email" type="text" class="validate" name="emp-email"
                    value={{getData.empemail}}>
                        <label for="emp-email">Employee Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l3 s12">
                        <select id="task-name" name="task-option" >
                            <!-- <option value="Select a task" selected>Select a task</option> -->
                            <option value='IT'>IT</option>
                            <option value='HR'>HR</option>
                            <option value="Others">Others</option>
                        </select>
                        <label>Task name</label>
                    </div>
                    <div class="input-field col l5 s12">
                        <textarea disabled id="task-name-manual" class="materialize-textarea">{{getData.taskname}}</textarea>
                        <label for="task-name-manual">Type task name...</label>
                    </div>
                </div>

                <div class="row">
                    <!-- {% if getData.taskstatus is "Completed" %}
                        <div class="input-field col l4 s12">
                            <label>Completed</label>
                            <input disabled  placeholder="Select Due Date" type="text" class="datepicker"  value={{getdata.duedate}}>
                        </div>
                    {% else %} -->
                    <div class="input-field col l4 s12">
                        <label>Due Date</label>
                        <input placeholder="Select Due Date" type="text" class="datepicker" name="due-date" value={{getdata.duedate}}>
                    </div>
                    <!-- {% endif %} -->
                    <div class="input-field col l4 s12">
                        <select id="task-status" name="task-status" value={{getData.taskstatus}}>
                            <option value="Pending" selected>Pending</option>
                            <option value="Completed">Completed</option>
                        </select>
                        <label>Task Status</label>
                    </div>
                </div>
                <!-- get summary with datetime stamp -->
                <div class="row all-summary">
                    <!-- iNPUT NEW SUMMARY -->
                    <div class="input-field col l4 s12">
                        
                        <textarea placeholder="Add new updates here..." id="input-summary"
                            class="materialize-textarea" name="task-summary">{{getData.tasksummary}}</textarea>
                            <!-- <a class="waves-effect waves-light btn-small" id="add_summary_btn">Add Summary<i class="material-icons right">add_box</i></a> -->
                        <label for="input-summary">Add Summary</label>
                    </div>
                    <!-- <div class="col l4 s12 task-list-box" id="">
                        <span>Task Summary</span>
                        <ul id="task-list">
                        </ul>
                    </div> -->
                    
                </div>
                <div class="row">
                    
                    <div class="input-field col s12">
                        <button type='submit' name='btn_update' id="task-update-btn"
                            class='col l3 m6 s12 btn btn-large waves-effect'>Update</button>
                    </div>
                    
                    <!-- <div class="input-field col s12">
                        <!-- <a href="/search/deletetask/{{getDeletedData.id}}"></a><button type='submit' name='btn_update' id="task-update-btn"
                            class='col l3 m6 s12 btn btn-large waves-effect'>Delete</button></a>
                    </div> -->
                    
            </form>
        </div>
    </div>
    <script>

    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/static/js/task-update.js"></script>
    <script src="/static/js/jquery.datetimepicker.full.min.js"></script>

{% endblock %}
<!-- </body>

</html> -->